{% extends "base.html" %}
{% block title %}Shipping Cost Calculator | Rift Island RPG Simulator{% endblock %}

{% block content %}
<div class="header">
  <h1>Shipping Cost Calculator</h1>
  <h2>Rift Island RPG Simulator</h2>
</div>

<div class="content">
  <h2 class="content-subhead">Why are there shipping costs?</h2>

  <p><img src="http://ontheworldmap.com/kiribati/kiribati-location-map.jpg" class="pure-img-responsive"></img></p>

  <p><strong>Rift Island</strong> is located in a <strong>Dimensional Rift</strong> located near the <strong><a href="https://en.wikipedia.org/wiki/Kiribati" target="_blank">Republic of Kiribati</a></strong>, which is the poorest third-world island nation in the <strong>Pacific Ocean</strong>. One small government-contracted supply ship runs a <strong>15-day circuit</strong> between Kiribati and Rift Island.</p>

  <p>"<strong>Common goods</strong>", which are items that can be found in typical third-world supermarkets and civilian general stores (e.g. Walmart) are stocked in Kiribati and take <strong>15 days</strong> to arive after a purchase order is placed. Please note that there is no refrigerated cargo on the supply ship.</p>

  <p>"<strong>Rare goods</strong>" include everything else (e.g. tractor, solar generator, farm livestock, cave diving equipment, unusual things). These goods must be shipped internationally to Kiribati before they are picked up by the supply ship. It takes <strong>30 days</strong> for rare goods to arrive after a purchase order is placed.</p>

  <h2 class="content-subhead">Standard Box/Crate Shipping Calculator</h2>
  <p>For small packages, the shipping rate is usually calculated by <strong>weight</strong> (parcel shipping). However, there eventually reaches a point where the package is heavy enough that it is cheaper to ship by <strong>volume</strong> (freight shipping).</p>
  <p>This calculator automatically takes this into account. Please enter the gross sum of the weight and volume of everything you wish to ship.</p>

  <form style="border:1px dotted grey; padding:15px;">
    <div class="form-group form-row">
      <div class="col-4">
        <label for="rarity">Package Type:</label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rarity" id="common" value="common" tabindex="1" checked> Common Item
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rarity" id="rare" value="rare" tabindex="2"> Rare Item
        </label>
      </div>
    </div>

    <div class="form-group form-row">
      <div class="col-4">
        <label for="weight">Total Weight:</label>
      </div>
      <div class="col-auto">
        <input type="number" id="weight" name="weight" type="text" class="form-control" tabindex="3" placeholder="1.4">
      </div>
      <div class="col-auto">
        <select id="weight_units" class="custom-select" tabindex="4">
          <option value="lbs">lbs</option>
          <option value="kg">kg</option>
          <option value="oz">oz</option>
        </select>
      </div>
    </div>

    <div class="form-group form-row">
      <div class="col-4">
        <label for="volume">Total Volume:</label>
      </div>
      <div class="col-auto">
        <input type="number" id="volume" name="volume" type="text" class="form-control" tabindex="5" placeholder="154.8">
      </div>
      <div class="col-auto">
        <select id="volume_units" class="custom-select" tabindex="6">
          <option value="in">cubic in</option>
          <option value="cm">cubic cm</option>
          <option value="mtr">cubic mtr</option>
          <option value="ft">cubic ft</option>
        </select>
      </div>
    </div>

    <div class="form-group form-row">
      <div class="col-4">
        <label for="cost">Shipping Cost:</label>
      </div>
      <div class="col-auto">
        <input id="cost" name="cost" type="text" class="form-control" placeholder="" disabled>
      </div>
    </div>

    <div class="form-group">
      <button id="submit" type="button" class="btn btn-primary btn-lg" tabindex="7">Calculate</button>
      <button id="reset" type="button" class="btn btn-secondary btn-lg" tabindex="8">Reset</button>
    </div>
  </form>

  <h2 class="content-subhead">Bulk Shipping Rates (Discounted)</h2>
  <p>A discounted rate is available for bulk shipping in <a href="https://en.wikipedia.org/wiki/Twenty-foot_equivalent_unit" target="_blank">20 ft or 40 ft containers</a>. Container dimensions:</p>
  <table class="table table-bordered" style="text-align:center;">
    <thead>
      <tr><th>Container</th><th>Dimensions</th><th>Max Volume</th><th>Max Weight</th></tr>
    </thead>
    <tbody>
      <tr><td>20' Container</td><td>5.9 x 2.35 x 2.39 m<br />(19.4 x 7.7 x 7.9 ft)</td><td>33 m<sup>3</sup><br />(1165 ft<sup>3</sup>)</td><td>22,100 kg<br />(48,721 lbs)</td></tr>
      <tr><td>40' Container</td><td>12 x 2.35 x 2.39 m<br />(39.5 x 7.7 x 7.9 ft)</td><td>67.3 m<sup>3</sup><br />(2377 ft<sup>3</sup>)</td><td>27,397 kg<br />(60,401 lbs)</td></tr>
    </tbody>
  </table>
  <p>Bulk Shipping Rates:</p>
  <table class="table table-bordered" style="text-align:center;">
    <thead>
      <tr><th>Container</th><th>Common Goods</th><th>Rare Goods</th></tr>
    </thead>
    <tbody>
      <tr><td>20' Container</td><td>$1200</td><td>$3600</td></tr>
      <tr><td>40' Container</td><td>$1700</td><td>$5400</td></tr>
    </tbody>
  </table>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/shipping.js') }}" type="text/javascript"></script>
{% endblock %}
